<!DOCTYPE html>
<html lang="en">

{% include format_head.html %}

<body>
    <div id="container">
        {% include header.html %}

        <!--中部-->
        <div id="M_container" style="width:1500px; float:left">
            {% include left.html %}

            <!--中间区块-->
            <div id="content_div" style="background-color:rgba(255, 255, 255, 0.5); width:800px; float:left">
                <div id="content" class="t" style="padding:20px">
                    {{ content }}
                </div>
            </div>
        </div>

        {% include footer.html %}
    </div>

    <script src="prism.js"></script>
</body>

</html>